


.aside{
    width: 20%;
    height: 100dvh;
    display: block;
    border-right: 5px solid #d9d9d9;
    background-color: #1d1d1d;
    display: flex;
    justify-content: center;
    align-items: end;
    .aside-content{
        width: 100%;
        height: calc(100% - 9%);
        padding: 12px;
        
        .aside-item-box{
            position: sticky;
            top: 9%;
            z-index: 5;
            display: flex;
            flex-direction: column;
            gap: 12px;
            .asideItem-set{
                color: #ffffff;
                padding: 12px 24px;
                font-size: 16px;
                font-weight: 700;
                background-color: #1d1d1d;
                border-radius: 8px;
                &:hover{
                    color: #1d1d1d;
                    background-color: #6ddced;
                }

                &.active{
                    color: #1d1d1d;
                    background-color: #6ddced;
                }
            }
        }
    } 
}